body {
  background-color: #120f17;
  overflow-x: hidden;
  font-family: 'Lilita One', sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #695acd39;
}

::-webkit-scrollbar-thumb {
  background: #ba8563;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #732f09;
}
